<p id="notice"><%= notice %></p>

<div class="section-title">
  <p>Crawled News</p>
  <br>
  <h2>Data Brigade Test</h2>
</div>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
<table>
  <thead>
    <tr class="text-center">
      <th>Titulo/th>
      <th>Data de Publicação</th>
      <th>Coletado em</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crawled_news.each do |crawled_news| %>
      <tr class="text-center">
        <td><a href="<%= crawled_news.link %>"><%= crawled_news.title %></a></td>
        <td><%= crawled_news.publish_date.strftime('%d/%m/%Y') %></td>
        <td><%= crawled_news.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= crawled_news.url %></td>
        <td><%= button_to 'Show', crawled_news, class:"crawler-btn", method:"get" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


