<p id="notice"><%= notice %></p>

<h1>Crawled News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Publish date</th>
      <th>Subtitle</th>
      <th>Body</th>
      <th>Link</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crawled_news.each do |crawled_news| %>
      <tr>
        <td><%= crawled_news.title %></td>
        <td><%= crawled_news.publish_date %></td>
        <td><%= crawled_news.subtitle %></td>
        <td><%= crawled_news.body %></td>
        <td><%= crawled_news.link %></td>
        <td><%= crawled_news.url %></td>
        <td><%= link_to 'Show', crawled_news %></td>
        <td><%= link_to 'Edit', edit_crawled_news_path(crawled_news) %></td>
        <td><%= link_to 'Destroy', crawled_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crawled News', new_crawled_news_path %>
