<p id="notice"><%= notice %></p>

<p>
  <div class="section-title"> <p style="font-size: 25px;"><%= @crawled_news.title %></p></div>
  
  
</p>

<p>
  <strong>Publicado em:</strong>
  <%= @crawled_news.publish_date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Coletado em:</strong>
  <%= @crawled_news.created_at.strftime('%d/%m/%Y') %>
</p>

<p>
  
  <h4><%= @crawled_news.subtitle %></h4>
</p>

<p>

  <%== @crawled_news.body %>
</p>

<p>
  <strong>Link:</strong>
  <a href="<%= @crawled_news.link %>"><%= @crawled_news.link %></a>
</p>

<p>
  <strong>Origem:</strong>
  <a href="<%= @crawled_news.url %>"><%= @crawled_news.url %></a>
</p>


<%= button_to 'Back', crawled_news_index_path, class:"crawler-btn", method:"get" %>
